table {
  width: 100%;
  border-collapse: collapse;
  border: 2px solid #000; /* Add border to the table */
}

th,
td {
  border: 1px solid #000; /* Add border to table cells */
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4caf50;
  color: white;
}
